<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Owner\TestModul\Api\CarCustomerRepositoryInterface"
                type="Owner\TestModul\Model\CarCustomerRepository"/>
    <preference for="Owner\TestModul\Api\Data\CarCustomerInterface"
                type="Owner\TestModul\Model\CarCustomerModel"/>
    <preference for="Owner\TestModul\Api\CarRepositoryInterface"
                type="Owner\TestModul\Model\CarRepository"/>
    <preference for="Owner\TestModul\Api\Data\CarInterface"
                type="Owner\TestModul\Model\CarModel"/>
</config>